@font-face {
  font-family: 'Mont';
  src: url('fonts/mont-heavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('fonts/Garet-Book.woff2') format('woff2'),
    url('fonts/Garet-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Garet', sans-serif;
  background-color: #111111;
  /* background-color: #f7f1e3; */
  color: #dddddd;
  margin: 0;
  padding: 0 0 0 30;
  justify-content: flex-end;
  /* Align the container to the right */
  text-align: right;
  /* Align all text to the right */
  justify-content: flex-end;
  /* Align the container to the right */
}

.social-tags {
  position: absolute;
  top: 10px;
  right: 10px;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

header {
  position: relative;
  background-image: url('media/hero.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  /* Make header full width */
  height: 300px;
  color: #ddd;
  display: flex;
  justify-content: flex-end;
  align-items: start;
  /* Keep header content centered */
  flex-direction: column;
  box-sizing: border-box;
  /* Ensure padding is included in the width */
}

header::after {
  content: '';
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, rgba(16, 16, 16, 1.0), rgba(16, 16, 16, 0));
  pointer-events: none;
  /* Allow interactions with the content */
  z-index: 1;
  /* Ensure gradient is on top of the background but below the content */
}

header>* {
  position: relative;
  z-index: 2;
  /* Ensure content is above the gradient */
}

.header-content h1 {
  position: absolute;
  width: 400px;
  font-family: 'Mont', serif;
  padding-left: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-size: 2em;
}

section {
  padding: 20px 20px;
  text-align: right;
  /* Align section content to the right */
  padding-right: 30px;
  /* Add padding to keep content away from the edge */
}

p {
  max-width: 400px;
  margin: 0 0 0 auto;
  padding: 15px;
  /* Align about section content to the right */
}

.sepia-tone {
  filter: sepia(1);
}

h2 {
  font-family: 'Mont', serif;
  color: #eee;
  margin: 10px 0;
}

nav {
  background-color: #bbb;
  padding: 5px;
  position: fixed;
  top: 33.3%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

a {
  color: #fff;
  margin: 5px 0;
  text-decoration: none;
  padding: 5px;
  display: block;
  transition: background-color 0.3s ease;
  /* Smooth transition */
}

a:hover {
  color: #666;
  /* Highlight color on hover */
  transform: scale(1.1);
  /* Slightly scale up the link */
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* Add shadow effect */
  transition: transform 0.5s ease, shadow 0.5s ease;
  /* Smooth transition */
}

nav a.active {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #bbb;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #fff;
  margin: 5px 0;
  /* Smooth transition */
}

#shows {
  width: 600px;
  background-color: #444;
  /* Optional: Add a background color for better visibility */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Optional: Add a shadow for better visibility */
  text-align: right;
  /* Align text inside the container to the left */
  margin-right: 30px;
  /* Ensure the container has some padding from the edge */
}

#shows h2 {
  text-align: right;
}

#shows ul {
  padding: 0;
}

li {
  display: flex;
  justify-content: flex-end;
}

.show-date {
  width: 100px;
  /* Adjust the width as needed */
}

.show-details {
  flex-grow: 1;
}

.show-details a {
  text-decoration: none;
  color: #aaa;
}

.show-details a:hover {
  text-decoration: underline;
}

footer {
  background-color: #444;
  color: #eee;
  padding: 10px;
  padding-right: 20px;
  /* Add padding to keep footer content away from the edge */
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  header {
    height: 300px;
    /* Adjust height for smaller screens */
  }

  .header-content h1 {
    font-size: 1.5em;
    /* Adjust font size for smaller screens */
  }

  section {
    padding: 10px 20px;
  }

  #about p {
    max-width: 90%;
    margin-right: 10px;
    /* Adjust margin for smaller screens */
  }
}